* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left bottom, #051937, #0c2766, #363093, #6d2ebb, #ad09da);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
.dashboard{
    width: 1240px;
    height: 450px;
    background-color: hsl(244, 38%, 16%);
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    margin: 0 20px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: whitesmoke;
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    align-self: flex-end;
    color: whitesmoke;
}

.attribution a {
    color: whitesmoke;
}
.leftSide{
    padding: 83px 83px;
    text-align: left;
    display: grid;
    gap: 40px;
}

.leftSide h1{
    line-height: 40px;
    letter-spacing: 1px;
}

.leftSide p{
    font-weight: 400;
    line-height: 30px;
}
.leftSide span{
    color: hsl(277, 64%, 61%);
}

.rightSide{
    background-image: url('images/image-header-desktop.jpg');
    background-size: cover;
    background-clip: border-box;
    border-radius: 0px 12px 12px 0px;
    height: 450px;
}

.stats{
    display: grid;
    gap: 1px 1px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);;
    text-align: left;
    justify-content: space-evenly;
}

.stats dd{
    font-weight: 700;
    font-size: 25px;
}

.stats dt{
    font-size: 12px;
}

@media (max-width: 500px) {
    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }
    .dashboard{
        width: 250px;
        height: 600px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .dashboard br{
        display: none;
    }
    .attribution {
        font-size: 12px;
        text-align: center;
        position: fixed;
        align-self: flex-end;
        color: whitesmoke;
        padding-bottom: 35px;
    }
    
    .attribution a {
        color: whitesmoke;
    }
    .leftSide{
        padding: 86px 86px;
        text-align: center;
        display:grid;
        gap: 20px;
        padding-top: 170px;
    }
    
    .leftSide h1{
        line-height: 20px;
        letter-spacing: 1px;
        text-align: center;
        width: 220px;
    }
  
    
    .leftSide p{
        font-weight: 400;
        line-height: 15px;
        font-size: 14px;
    }
    .leftSide span{
        color: hsl(277, 64%, 61%);
    }
    
    .rightSide{
        background-image: url('images/image-header-desktop.jpg');
        background-size: cover;
        background-clip: border-box;
        border-radius: 12px 12px 0px 0px;
        height: 150px;
        width: 250px;
        display: block;
        position: absolute;

    }
    
    .stats{
        gap: 5px 5px;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);;
        text-align: center;        
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        
    }
    .stats dd{
        font-weight: 700;
        font-size: 14px;
    }
    
    .stats dt{
        font-size: 10px;
    }
}