* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
.dashboard{
    width: 1240px;
    height: 450px;
    background-color: hsl(244, 38%, 16%);
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    margin: 0 20px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: whitesmoke;

}
.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    align-self: flex-end;
    color: whitesmoke;
}

  .attribution a {
    color: whitesmoke;
}
.leftSide{
    padding: 50px 50px;
    text-align: left;
    display: grid;
}
.leftSide p{
    font-weight: 400;
}
.rightSide{
    background-image: url('images/image-header-desktop.jpg');
    background-repeat:round;
    border-radius: 0px 12px 12px 0px;
}

.stats{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    text-align: left;
    justify-content: space-evenly;
}